{% extends "base.html" %}
{% block content %}
<!-- {% load static %} -->

<!-- <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}"> -->

{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">
            <div
                class="px-4 py-3 mt-2 text-lg font-medium text-gray-800 bg-white rounded-md cursor-pointer max-h-60 hover:text-black hover:bg-white">
                {{ question.question_text }}</>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}
{% endblock %}